<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>
<body>
    
    <%- include('layouts/navbar'); -%>

    <div class="container">

        <div id="chart-container">

            <div id="chart-jobPostingStatus">

            </div>

        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Job Title</th>
                <th scope="col">Company</th>
                <th scope="col">Status</th>
                <th scope="col">Cover Letter?</th>
            </tr>
            </thead>
            <tbody>

                <% for(var i = 0; i < jobposts.length; i++) { %>
                    <tr>
                        <td>
                            <%= jobposts[i].title %>
                        </td>
                        <td>
                            <%= jobposts[i].company %>
                        </td>
                        <td>
                            <%= (jobposts[i].status[0].toUpperCase() + jobposts[i].status.substring(1).toLowerCase() )%>
                        </td>
                        <td>
                            <%= (jobposts[i].coverletter ? "Yes" : "No") %>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm">Edit</button> <a href="/submissions/delete"><button type="button" class="btn btn-outline-primary btn-sm">Delete</button></a>
                        </td>
                    </tr>
                <%}%>

            </tbody>
        </table>
        
        <script>
            var data = [
            {
            values: [<%= ((pendingPosts/jobPostCount) * 100) %>, <%= ((rejectedPosts/jobPostCount) * 100) %>],
            labels: ['Pending', 'Rejected'],
            type: 'pie',
            hole: .3,
            name: '',
            domain: {column: 0},
            textposition: "outside"
            }, 
            {
            values: [<%= ((coverLetterAdded/jobPostCount) * 100) %>, <%= ((noCoverLetterAdded/jobPostCount) * 100) %>],
            labels: ['With Cover Letter', 'Without Cover Letter'],
            type: 'pie',
            hole: .3,
            name: '',
            domain: {column: 1},
            textposition: "outside"
            }
            ];

            var layout = {
            title: 'Status of Job Apps & Cover Letter Shares',
            height: 400,
            width: 750,
            grid: {rows: 1, columns: 2}
            };

            Plotly.newPlot('chart-jobPostingStatus', data, layout);
          </script>
    </div>
    
</body>
</html>