<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>
<body>
    
    <%- include('layouts/navbar'); -%>

    <div class="container">
        <table class="table vertical-spacer">
            <thead>
            <tr>
                <th scope="col">Job Title</th>
                <th scope="col">Company</th>
                <th scope="col">Status</th>
                <th scope="col">Cover Letter?</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i < jobposts.length; i++) { %>
                <tr>
                    <td>
                        <%= jobposts[i].title %>
                    </td>
                    <td>
                        <%= jobposts[i].company %>
                    </td>
                    <td>
                        <%= (jobposts[i].status[0].toUpperCase() + jobposts[i].status.substring(1).toLowerCase() )%>
                    </td>
                    <td>
                        <%= (jobposts[i].coverletter ? "Yes" : "No") %>
                    </td>
                </tr>
            <%}%>
            </tbody>
        </table>

        <div id="chart-container">

            <div id="chart-jobPostingStatus">

            </div>

        </div>
        
        <script>
            var data = [{
            values: [<%= ((pendingPosts/jobPostCount) * 100) %>, <%= ((rejectedPosts/jobPostCount) * 100) %>],
            labels: ['Pending', 'Rejected'],
            type: 'pie'
            }];

            var layout = {
            height: 500,
            width: 500
            };

            Plotly.newPlot('chart-jobPostingStatus', data, layout);
          </script>
    </div>
    
</body>
</html>